target/
.classpath
.project
.settings/
lingLongTa-api/target/
lingLongTa-api/.classpath
lingLongTa-api/.project
lingLongTa-api/.settings/
lingLongTa-api/.idea/
lingLongTa-core/target/
lingLongTa-core/.classpath
lingLongTa-core/.project
lingLongTa-core/.settings/
lingLongTa-core/.idea/
.idea/
**/*.iml
lingLongTa-core/src/main/resources/GIT_INFO.txt
*.log
.metadata/
